version: "3.2"

services:
  lbrynet:
    image: lbry/lbrynet-tv:0.83.0
    ports:
      - "5581:5279"
      - "5279:5279"
    volumes:
      - storage:/storage
    environment:
      SDK_CONFIG: /daemon/daemon_settings.yml
      # SDK_LBRYUM_SERVERS: wallet:50001
      # SDK_LBRYUM_SERVERS: 54.226.124.145:50001
    labels:
      com.centurylinklabs.watchtower.enable: true
  app:
    image: lbry/odysee-api:latest-dev
    ports:
      - 8080:8080
    volumes:
      - storage:/storage
    environment:
      LW_LBRYNET: http://lbrynet:5279/
      LW_DEBUG: 1
    depends_on:
      - lbrynet
      - postgres
    labels:
      com.centurylinklabs.watchtower.enable: true
  postgres:
    image: postgres:11-alpine
    command:
      - -clogging_collector=on
      - -clog_statement=all
      - -clog_destination=stderr
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/pgdata
    environment:
      POSTGRES_USER: lbrytv
      POSTGRES_PASSWORD: lbrytv
      PGDATA: /pgdata
      TZ: "UTC"
      PGTZ: "UTC"
  postgres-collector:
    image: postgres:11-alpine
    ports:
      - "5433:5432"
    volumes:
      - pgdata-collector:/pgdata
    environment:
      POSTGRES_USER: collector
      POSTGRES_PASSWORD: ZnPfJ!4vTb-nURv8M!JkkuAcjYLYbkiX
      PGDATA: /pgdata
      TZ: "UTC"
      PGTZ: "UTC"

volumes:
  pgdata: {}
  pgdata-collector: {}
  storage: {}
  test_storage: {}
