version: '3.2'

services:
  postgres:
    image: postgres:11-alpine
    ports:
      - "5432:5432"
    environment:
     POSTGRES_USER: lbrytv
     POSTGRES_PASSWORD: lbrytv
  lbrynet:
    image: lbryweb/lbrynet:0.37.3
    ports:
      - "5579:5279"
    volumes:
    - type: bind
      source: storage
      target: /storage
    environment:
      LBRY_DOCKER_CONFIG: /daemon/daemon_settings.yml
  lbrynet-38:
    image: lbryweb/lbrynet:0.38
    ports:
      - "5581:5279"
    volumes:
    - type: bind
      source: storage
      target: /storage
    environment:
      LBRY_DOCKER_CONFIG: /daemon/daemon_settings.yml
  watchtower:
    image: v2tec/watchtower
    command: --interval 30 --cleanup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  app:
    image: lbryweb/lbryweb-go:latest-dev
    ports:
      - "8080:8080"
    volumes:
    - type: bind
      source: storage
      target: /storage
    - type: bind
    environment:
      LW_LBRYNET: http://lbrynet:5279/
    depends_on:
      - lbrynet

volumes:
  storage:
  test_storage:
