swagger: "2.0"
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: ""
host: watchman.na-backend.odysee.com
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          schema:
            type: string
      schemes:
      - https
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - https
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      parameters:
      - name: AddRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReporterAddRequestBody'
          required:
          - url
          - dur
          - position
          - rel_position
          - rebuf_count
          - rebuf_duration
          - format
          - player
          - user_id
          - device
          - t
      responses:
        "201":
          description: Created response.
      schemes:
      - https
definitions:
  ReporterAddRequestBody:
    title: ReporterAddRequestBody
    type: object
    properties:
      client_rate:
        type: integer
        description: Client download rate, bit/s
        example: 641649845
        format: int32
      device:
        type: string
        description: Client device
        example: web
        enum:
        - ios
        - adr
        - web
      dur:
        type: integer
        description: Event duration, ms
        example: 21402
        minimum: 0
        maximum: 60000
      format:
        type: string
        description: Video format, stb (binary stream) or HLS
        example: hls
        enum:
        - stb
        - hls
      player:
        type: string
        description: Player server name
        example: sg-p2
        maxLength: 64
      position:
        type: integer
        description: Current playback report stream position, ms
        example: 579973706
        minimum: 0
      rebuf_count:
        type: integer
        description: Rebuffering events count
        example: 1253491737
        minimum: 0
      rebuf_duration:
        type: integer
        description: Rebuffering events total duration, ms
        example: 14130
        minimum: 0
        maximum: 60000
      rel_position:
        type: integer
        description: Relative stream position, pct, 0—100
        example: 87
        minimum: 0
        maximum: 100
      t:
        type: string
        description: Timestamp
        example: Thu, 05 Jan 1995 10:51:43 UTC
        format: rfc1123
      url:
        type: string
        description: LBRY URL
        example: what
        maxLength: 512
      user_id:
        type: integer
        description: User ID
        example: 1747405196
        format: int32
    example:
      client_rate: 1840487865
      device: web
      dur: 15487
      format: hls
      player: sg-p2
      position: 1277572968
      rebuf_count: 586784507
      rebuf_duration: 45168
      rel_position: 42
      t: Sat, 30 Jun 1984 20:34:19 UTC
      url: what
      user_id: 972752239
    required:
    - url
    - dur
    - position
    - rel_position
    - rebuf_count
    - rebuf_duration
    - format
    - player
    - user_id
    - device
    - t
