swagger: "2.0"
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: ""
host: watchman.na-backend.odysee.com
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          schema:
            type: string
      schemes:
      - https
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - https
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      parameters:
      - name: AddRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReporterAddRequestBody'
          required:
          - url
          - duration
          - position
          - rel_position
          - rebuf_count
          - rebuf_duration
          - format
          - player
          - user_id
          - device
      responses:
        "201":
          description: Created response.
      schemes:
      - https
definitions:
  ReporterAddRequestBody:
    title: ReporterAddRequestBody
    type: object
    properties:
      device:
        type: string
        description: Client device
        example: ios
        enum:
        - ios
        - adr
        - web
      duration:
        type: integer
        description: Event duration, ms
        example: 52215
        minimum: 0
        maximum: 60000
      format:
        type: string
        description: Video format, stb (binary stream) or HLS
        example: stb
        enum:
        - stb
        - hls
      player:
        type: string
        description: Player server name
        example: sg-p2
        maxLength: 64
      position:
        type: integer
        description: Current playback report stream position, ms
        example: 1259307073
        minimum: 0
      rate:
        type: integer
        description: Client download rate, bit/s
        example: 938401497
        format: int32
      rebuf_count:
        type: integer
        description: Rebuffering events count
        example: 1825042135
        minimum: 0
      rebuf_duration:
        type: integer
        description: Rebuffering events total duration, ms
        example: 662
        minimum: 0
        maximum: 60000
      rel_position:
        type: integer
        description: Relative stream position, pct, 0—100
        example: 43
        minimum: 0
        maximum: 100
      url:
        type: string
        description: LBRY URL
        example: what
        maxLength: 512
      user_id:
        type: integer
        description: User ID
        example: 1543459748
        format: int32
    example:
      device: ios
      duration: 30916
      format: stb
      player: sg-p2
      position: 1792743378
      rate: 1305791291
      rebuf_count: 1028310977
      rebuf_duration: 21050
      rel_position: 43
      url: what
      user_id: 1770612318
    required:
    - url
    - duration
    - position
    - rel_position
    - rebuf_count
    - rebuf_duration
    - format
    - player
    - user_id
    - device
