openapi: 3.0.3
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: "1.0"
servers:
- url: https://watchman.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
- url: https://watchman.dev.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                example: Ratione placeat.
              example: Rem et eius.
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequestBody'
            example:
              client: b026324c6904b2a9cb4b88d6d61c81d1
              client_rate: 1143315912
              device: web
              dur: 54906
              format: hls
              player: sg-p2
              position: 1152411017
              rebuf_count: 268663686
              rebuf_duration: 40307
              rel_position: 99
              t: Fri, 23 Dec 1983 15:20:34 UTC
              url: what
      responses:
        "201":
          description: Created response.
components:
  schemas:
    AddRequestBody:
      type: object
      properties:
        client:
          type: string
          description: Unique client ID
          example: b026324c6904b2a9cb4b88d6d61c81d1
          maxLength: 64
        client_rate:
          type: integer
          description: Client download rate, bit/s
          example: 1232409536
          format: int32
        device:
          type: string
          description: Client device
          example: web
          enum:
          - ios
          - adr
          - web
        dur:
          type: integer
          description: Event duration, ms
          example: 53329
          minimum: 0
          maximum: 60000
        format:
          type: string
          description: Video format, stb (binary stream) or HLS
          example: stb
          enum:
          - stb
          - hls
        player:
          type: string
          description: Player server name
          example: sg-p2
          maxLength: 64
        position:
          type: integer
          description: Current playback report stream position, ms
          example: 467347253
          minimum: 0
        rebuf_count:
          type: integer
          description: Rebuffering events count
          example: 150088011
          minimum: 0
        rebuf_duration:
          type: integer
          description: Rebuffering events total duration, ms
          example: 45075
          minimum: 0
          maximum: 60000
        rel_position:
          type: integer
          description: Relative stream position, pct, 0—100
          example: 37
          minimum: 0
          maximum: 100
        t:
          type: string
          description: Timestamp
          example: Fri, 25 Feb 2011 03:56:25 UTC
          format: rfc1123
        url:
          type: string
          description: LBRY URL
          example: what
          maxLength: 512
      example:
        client: b026324c6904b2a9cb4b88d6d61c81d1
        client_rate: 1588752272
        device: web
        dur: 12992
        format: hls
        player: sg-p2
        position: 508151569
        rebuf_count: 1909766876
        rebuf_duration: 48793
        rel_position: 47
        t: Sun, 07 Aug 2005 02:16:07 UTC
        url: what
      required:
      - url
      - dur
      - position
      - rel_position
      - rebuf_count
      - rebuf_duration
      - format
      - player
      - client
      - device
      - t
tags:
- name: reporter
  description: Media playback reports
