{"openapi":"3.0.3","info":{"title":"Watchman service","description":"Watchman collects media playback reports.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback reports, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":"1.0"},"servers":[{"url":"https://watchman.na-backend.odysee.com/v1","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}},{"url":"https://watchman.na-backend.odysee.com/v1","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}}],"paths":{"/openapi.json":{"get":{"tags":["reporter"],"summary":"Download ./gen/http/openapi.json","operationId":"reporter#/openapi.json","responses":{"200":{"description":"File downloaded"}}}},"/reports/playback":{"post":{"tags":["reporter"],"summary":"add reporter","operationId":"reporter#add","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRequestBody"},"example":{"bfc":2095695930,"bfd":746498439,"car":"eu","cdv":"web","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":356512143,"dur":1329513,"fmt":"hls","pid":"player16","por":8586,"pos":615768058,"url":"lbry://what"}}}},"responses":{"201":{"description":"Created response."}}}}},"components":{"schemas":{"AddRequestBody":{"type":"object","properties":{"bfc":{"type":"integer","description":"Buffering events count","example":2027100662,"minimum":0},"bfd":{"type":"integer","description":"Buffering events total duration, ms","example":1479834203,"format":"int32"},"car":{"type":"string","description":"Client area","example":"eu","maxLength":3},"cdv":{"type":"string","description":"Client device","example":"ios","enum":["ios","and","web"]},"cid":{"type":"string","description":"Unique client ID","example":"b026324c6904b2a9cb4b88d6d61c81d1","maxLength":64},"crt":{"type":"integer","description":"Client download rate, bits/s","example":938401497,"format":"int32"},"dur":{"type":"integer","description":"Current playback report duration, ms","example":350135,"minimum":1000,"maximum":3600000},"fmt":{"type":"string","description":"Video format","example":"hls","enum":["std","hls"]},"pid":{"type":"string","description":"Player server name","example":"player16","maxLength":32},"por":{"type":"integer","description":"Relative stream position, 0 — 10000 (0% — 100%)","example":9943,"minimum":0,"maximum":10000},"pos":{"type":"integer","description":"Current playback report stream position, ms","example":1259307073,"minimum":0},"url":{"type":"string","description":"LBRY URL","example":"lbry://what","maxLength":512}},"example":{"bfc":1028310977,"bfd":1477881050,"car":"eu","cdv":"ios","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":1770612318,"dur":1576543,"fmt":"std","pid":"player16","por":3378,"pos":155490916,"url":"lbry://what"},"required":["url","pos","por","dur","bfc","bfd","fmt","pid","cid","cdv"]}}}}