{"openapi":"3.0.3","info":{"title":"Watchman service","description":"Watchman collects media playback reports.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback reports, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":"1.0"},"servers":[{"url":"https://watchman.na-backend.odysee.com","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}},{"url":"https://watchman.dev.na-backend.odysee.com","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}}],"paths":{"/healthz":{"get":{"tags":["reporter"],"summary":"healthz reporter","operationId":"reporter#healthz","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"string","example":"Ipsam modi nihil ullam sit."},"example":"Qui aut ut deserunt."}}}}}},"/openapi.json":{"get":{"tags":["reporter"],"summary":"Download ./gen/http/openapi.json","operationId":"reporter#/openapi.json","responses":{"200":{"description":"File downloaded"}}}},"/reports/playback":{"post":{"tags":["reporter"],"summary":"add reporter","operationId":"reporter#add","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRequestBody"},"example":{"device":"web","duration":38439,"format":"hls","player":"sg-p2","position":1156513664,"rate":1633176499,"rebuf_count":64944106,"rebuf_duration":32061,"rel_position":43,"url":"what","user_id":2068464011}}}},"responses":{"201":{"description":"Created response."}}}}},"components":{"schemas":{"AddRequestBody":{"type":"object","properties":{"device":{"type":"string","description":"Client device","example":"adr","enum":["ios","adr","web"]},"duration":{"type":"integer","description":"Event duration, ms","example":48254,"minimum":0,"maximum":60000},"format":{"type":"string","description":"Video format, stb (binary stream) or HLS","example":"hls","enum":["stb","hls"]},"player":{"type":"string","description":"Player server name","example":"sg-p2","maxLength":64},"position":{"type":"integer","description":"Current playback report stream position, ms","example":1223292224,"minimum":0},"rate":{"type":"integer","description":"Client download rate, bit/s","example":219268455,"format":"int32"},"rebuf_count":{"type":"integer","description":"Rebuffering events count","example":856140610,"minimum":0},"rebuf_duration":{"type":"integer","description":"Rebuffering events total duration, ms","example":39650,"minimum":0,"maximum":60000},"rel_position":{"type":"integer","description":"Relative stream position, pct, 0—100","example":64,"minimum":0,"maximum":100},"url":{"type":"string","description":"LBRY URL","example":"what","maxLength":512},"user_id":{"type":"integer","description":"User ID","example":830553715,"format":"int32"}},"example":{"device":"adr","duration":54906,"format":"hls","player":"sg-p2","position":1152411017,"rate":1906586091,"rebuf_count":268663686,"rebuf_duration":40307,"rel_position":99,"url":"what","user_id":1143315912},"required":["url","duration","position","rel_position","rebuf_count","rebuf_duration","format","player","user_id","device"]}}},"tags":[{"name":"reporter","description":"Media playback reports"}]}