openapi: 3.0.3
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: "1.0"
servers:
- url: https://watchman.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
- url: https://watchman.dev.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                example: Cumque ut.
              example: Est corporis.
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequestBody'
            example:
              buf_count: 219268455
              buf_duration: 1686071524
              client: b026324c6904b2a9cb4b88d6d61c81d1
              client_rate: 1152411017
              device: ios
              format: std
              player: sg-p2
              position: 1422240286
              rel_position: 15
              t: Thu, 07 Feb 1980 09:19:11 UTC
              url: what
      responses:
        "201":
          description: Created response.
components:
  schemas:
    AddRequestBody:
      type: object
      properties:
        buf_count:
          type: integer
          description: Buffering events count
          example: 1243539192
          minimum: 0
        buf_duration:
          type: integer
          description: Buffering events total duration, ms
          example: 532268115
          format: int32
        client:
          type: string
          description: Unique client ID
          example: b026324c6904b2a9cb4b88d6d61c81d1
          maxLength: 64
        client_rate:
          type: integer
          description: Client download rate, bit/s
          example: 1619920407
          format: int32
        device:
          type: string
          description: Client device
          example: ios
          enum:
          - ios
          - adr
          - web
        format:
          type: string
          description: Video format
          example: std
          enum:
          - std
          - hls
        player:
          type: string
          description: Player server name
          example: sg-p2
          maxLength: 64
        position:
          type: integer
          description: Current playback report stream position, ms
          example: 228568973
          minimum: 0
        rel_position:
          type: integer
          description: Relative stream position, pct, 0—100
          example: 74
          minimum: 0
          maximum: 100
        t:
          type: string
          description: Timestamp
          example: Wed, 19 Sep 1973 15:06:26 UTC
          format: rfc1123
        url:
          type: string
          description: LBRY URL
          example: what
          maxLength: 512
      example:
        buf_count: 1394907451
        buf_duration: 263914743
        client: b026324c6904b2a9cb4b88d6d61c81d1
        client_rate: 1240536155
        device: adr
        format: hls
        player: sg-p2
        position: 295826153
        rel_position: 55
        t: Thu, 09 Feb 1978 21:06:48 UTC
        url: what
      required:
      - url
      - position
      - rel_position
      - buf_count
      - buf_duration
      - format
      - player
      - client
      - device
tags:
- name: reporter
  description: Media playback reports
