openapi: 3.0.3
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: "1.0"
servers:
- url: https://watchman.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
- url: https://watchman.dev.na-backend.odysee.com
  description: watchman hosts the Watchman service
  variables:
    version:
      default: v1
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                example: Et ut distinctio iure odit.
              example: Hic rerum error accusantium sit minus id.
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequestBody'
            example:
              client_rate: 1906586091
              device: adr
              dur: 54906
              format: hls
              player: sg-p2
              position: 1152411017
              rebuf_count: 268663686
              rebuf_duration: 40307
              rel_position: 99
              t: Fri, 23 Dec 1983 15:20:34 UTC
              url: what
              user_id: 1143315912
      responses:
        "201":
          description: Created response.
components:
  schemas:
    AddRequestBody:
      type: object
      properties:
        client_rate:
          type: integer
          description: Client download rate, bit/s
          example: 547130514
          format: int32
        device:
          type: string
          description: Client device
          example: adr
          enum:
          - ios
          - adr
          - web
        dur:
          type: integer
          description: Event duration, ms
          example: 9937
          minimum: 0
          maximum: 60000
        format:
          type: string
          description: Video format, stb (binary stream) or HLS
          example: stb
          enum:
          - stb
          - hls
        player:
          type: string
          description: Player server name
          example: sg-p2
          maxLength: 64
        position:
          type: integer
          description: Current playback report stream position, ms
          example: 150088011
          minimum: 0
        rebuf_count:
          type: integer
          description: Rebuffering events count
          example: 528520956
          minimum: 0
        rebuf_duration:
          type: integer
          description: Rebuffering events total duration, ms
          example: 9536
          minimum: 0
          maximum: 60000
        rel_position:
          type: integer
          description: Relative stream position, pct, 0—100
          example: 75
          minimum: 0
          maximum: 100
        t:
          type: string
          description: Timestamp
          example: Fri, 18 May 2001 02:28:38 UTC
          format: rfc1123
        url:
          type: string
          description: LBRY URL
          example: what
          maxLength: 512
        user_id:
          type: integer
          description: User ID
          example: 541450973
          format: int32
      example:
        client_rate: 1126833897
        device: ios
        dur: 12272
        format: hls
        player: sg-p2
        position: 73004217
        rebuf_count: 811726476
        rebuf_duration: 52537
        rel_position: 23
        t: Fri, 17 Apr 1998 08:22:38 UTC
        url: what
        user_id: 646993185
      required:
      - url
      - dur
      - position
      - rel_position
      - rebuf_count
      - rebuf_duration
      - format
      - player
      - user_id
      - device
      - t
tags:
- name: reporter
  description: Media playback reports
