{"openapi":"3.0.3","info":{"title":"Watchman service","description":"Watchman collects playback metrics.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback events, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":"1.0"},"servers":[{"url":"https://watchman.api.lbry.tv/v1","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}},{"url":"https://watchman-service.api.dev.lbry.tv","description":"watchman hosts the Watchman service"}],"paths":{"/openapi.json":{"get":{"tags":["playback"],"summary":"Download ./gen/http/openapi.json","operationId":"playback#/openapi.json","responses":{"200":{"description":"File downloaded"}}}},"/playback":{"post":{"tags":["playback"],"summary":"add playback","operationId":"playback#add","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRequestBody"},"example":{"bfc":2090117172,"bfd":17251565766128185860,"car":"eu","cdv":"web","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":12429558419691439090,"dur":679116,"fmt":"hls","pid":"player16","pos":5772200059818313417,"url":"lbry://what"}}}},"responses":{"201":{"description":"Created response."}}}}},"components":{"schemas":{"AddRequestBody":{"type":"object","properties":{"bfc":{"type":"integer","description":"Buffering events count","example":863015944},"bfd":{"type":"integer","description":"Buffering events total duration, ms","example":1722420251317621226},"car":{"type":"string","description":"Client area","example":"eu","maxLength":3},"cdv":{"type":"string","description":"Client device","example":"and","enum":["ios","and","web"]},"cid":{"type":"string","description":"Unique client ID","example":"b026324c6904b2a9cb4b88d6d61c81d1","maxLength":64},"crt":{"type":"integer","description":"Client download rate, bits/s","example":14051988778240681527},"dur":{"type":"integer","description":"Playback event duration, ms","example":2003251,"minimum":1000,"maximum":3600000},"fmt":{"type":"string","description":"Video format","example":"hls","enum":["def","hls"]},"pid":{"type":"string","description":"Player server name","example":"player16","maxLength":32},"pos":{"type":"integer","description":"Playback event stream position, ms","example":14775216478884507872},"url":{"type":"string","description":"LBRY URL","example":"lbry://what","maxLength":512}},"example":{"bfc":3086919497,"bfd":13253775777269933896,"car":"eu","cdv":"ios","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":667828399954248136,"dur":1291407,"fmt":"hls","pid":"player16","pos":17929703087538498459,"url":"lbry://what"},"required":["url","pos","dur","bfc","bfd","fmt","pid","cid","cdv"]}}}}