openapi: 3.0.3
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: "1.0"
servers:
- url: https://watchman.na-backend.odysee.com
  description: watchman hosts the Watchman service
- url: https://watchman.na-backend.dev.odysee.com
  description: watchman hosts the Watchman service
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                example: A sed.
              example: Nihil odio amet natus autem quis.
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequestBody'
            example:
              bandwidth: 1674309275
              cache: local
              device: web
              duration: 24011
              player: sg-p2
              position: 1633176499
              protocol: stb
              rebuf_count: 1329532192
              rebuf_duration: 23752
              rel_position: 5
              url: what
              user_id: 611106208
      responses:
        "201":
          description: Created response.
components:
  schemas:
    AddRequestBody:
      type: object
      properties:
        bandwidth:
          type: integer
          description: Client bandwidth, bit/s
          example: 1906586091
          format: int32
        cache:
          type: string
          description: Cache status of video
          example: player
          enum:
          - local
          - player
          - miss
        device:
          type: string
          description: Client device
          example: adr
          enum:
          - ios
          - adr
          - web
        duration:
          type: integer
          description: Event duration, ms
          example: 11524
          minimum: 0
          maximum: 60000
        player:
          type: string
          description: Player server name
          example: sg-p2
          maxLength: 64
        position:
          type: integer
          description: Current playback report stream position, ms
          example: 1364094906
          minimum: 0
        protocol:
          type: string
          description: Video delivery protocol, stb (binary stream) or HLS
          example: stb
          enum:
          - stb
          - hls
        rebuf_count:
          type: integer
          description: Rebuffering events count
          example: 1454953199
          minimum: 0
        rebuf_duration:
          type: integer
          description: Rebuffering events duration, ms
          example: 43686
          minimum: 0
          maximum: 60000
        rel_position:
          type: integer
          description: Relative stream position, pct, 0—100
          example: 17
          minimum: 0
          maximum: 100
        url:
          type: string
          description: LBRY URL
          example: what
          maxLength: 512
        user_id:
          type: integer
          description: User ID
          example: 1143315912
          format: int32
      example:
        bandwidth: 575882439
        cache: local
        device: ios
        duration: 56655
        player: sg-p2
        position: 405859869
        protocol: hls
        rebuf_count: 67565010
        rebuf_duration: 39779
        rel_position: 10
        url: what
        user_id: 419824354
      required:
      - url
      - duration
      - position
      - rel_position
      - rebuf_count
      - rebuf_duration
      - protocol
      - player
      - user_id
      - device
tags:
- name: reporter
  description: Media playback reports
