swagger: "2.0"
info:
  title: Watchman service
  description: "Watchman collects media playback reports.\n\t\tPlayback time along
    with buffering count and duration is collected\n\t\tvia playback reports, which
    should be sent from the client each n sec\n\t\t(with n being something reasonable
    between 5 and 30s)\n\t"
  version: ""
host: watchman.na-backend.odysee.com
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /healthz:
    get:
      tags:
      - reporter
      summary: healthz reporter
      operationId: reporter#healthz
      responses:
        "200":
          description: OK response.
          schema:
            type: string
      schemes:
      - https
  /openapi.json:
    get:
      tags:
      - reporter
      summary: Download ./gen/http/openapi.json
      operationId: reporter#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - https
  /reports/playback:
    post:
      tags:
      - reporter
      summary: add reporter
      operationId: reporter#add
      parameters:
      - name: AddRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReporterAddRequestBody'
          required:
          - url
          - pos
          - por
          - dur
          - bfc
          - bfd
          - fmt
          - pid
          - cid
          - cdv
      responses:
        "201":
          description: Created response.
      schemes:
      - https
definitions:
  ReporterAddRequestBody:
    title: ReporterAddRequestBody
    type: object
    properties:
      bfc:
        type: integer
        description: Buffering events count
        example: 1543459748
        minimum: 0
      bfd:
        type: integer
        description: Buffering events total duration, ms
        example: 938401497
        format: int32
      car:
        type: string
        description: Client area
        example: eu
        maxLength: 3
      cdv:
        type: string
        description: Client device
        example: ios
        enum:
        - ios
        - and
        - web
      cid:
        type: string
        description: Unique client ID
        example: b026324c6904b2a9cb4b88d6d61c81d1
        maxLength: 64
      crt:
        type: integer
        description: Client download rate, bits/s
        example: 155490916
        format: int32
      dur:
        type: integer
        description: Current playback report duration, ms
        example: 646203
        minimum: 1000
        maximum: 3.6e+06
      fmt:
        type: string
        description: Video format
        example: hls
        enum:
        - std
        - hls
      pid:
        type: string
        description: Player server name
        example: player16
        maxLength: 32
      por:
        type: integer
        description: Relative stream position, 0 — 10000 (0% — 100%)
        example: 662
        minimum: 0
        maximum: 10000
      pos:
        type: integer
        description: Current playback report stream position, ms
        example: 1825042135
        minimum: 0
      url:
        type: string
        description: LBRY URL
        example: what
        maxLength: 512
    example:
      bfc: 1517669849
      bfd: 1770612318
      car: eu
      cdv: web
      cid: b026324c6904b2a9cb4b88d6d61c81d1
      crt: 263225764
      dur: 2292050
      fmt: std
      pid: player16
      por: 977
      pos: 1390789543
      url: what
    required:
    - url
    - pos
    - por
    - dur
    - bfc
    - bfd
    - fmt
    - pid
    - cid
    - cdv
