{"openapi":"3.0.3","info":{"title":"Watchman service","description":"Watchman collects media playback reports.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback reports, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":"1.0"},"servers":[{"url":"https://watchman.na-backend.odysee.com","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}},{"url":"https://watchman.dev.na-backend.odysee.com","description":"watchman hosts the Watchman service","variables":{"version":{"default":"v1"}}}],"paths":{"/healthz":{"get":{"tags":["reporter"],"summary":"healthz reporter","operationId":"reporter#healthz","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"string","example":"Et ipsam."},"example":"Nihil ullam sit laborum qui aut."}}}}}},"/openapi.json":{"get":{"tags":["reporter"],"summary":"Download ./gen/http/openapi.json","operationId":"reporter#/openapi.json","responses":{"200":{"description":"File downloaded"}}}},"/reports/playback":{"post":{"tags":["reporter"],"summary":"add reporter","operationId":"reporter#add","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRequestBody"},"example":{"bfc":2068464011,"bfd":1633176499,"car":"eu","cdv":"ios","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":1329532192,"dur":568437,"fmt":"hls","pid":"player16","por":2061,"pos":64944106,"url":"what"}}}},"responses":{"201":{"description":"Created response."}}}}},"components":{"schemas":{"AddRequestBody":{"type":"object","properties":{"bfc":{"type":"integer","description":"Buffering events count","example":822159650,"minimum":0},"bfd":{"type":"integer","description":"Buffering events total duration, ms","example":1422240286,"format":"int32"},"car":{"type":"string","description":"Client area","example":"eu","maxLength":3},"cdv":{"type":"string","description":"Client device","example":"and","enum":["ios","and","web"]},"cid":{"type":"string","description":"Unique client ID","example":"b026324c6904b2a9cb4b88d6d61c81d1","maxLength":64},"crt":{"type":"integer","description":"Client download rate, bits/s","example":219268455,"format":"int32"},"dur":{"type":"integer","description":"Current playback report duration, ms","example":3178610,"minimum":1000,"maximum":3600000},"fmt":{"type":"string","description":"Video format","example":"hls","enum":["std","hls"]},"pid":{"type":"string","description":"Player server name","example":"player16","maxLength":32},"por":{"type":"integer","description":"Relative stream position, 0 — 10000 (0% — 100%)","example":2264,"minimum":0,"maximum":10000},"pos":{"type":"integer","description":"Current playback report stream position, ms","example":1223292224,"minimum":0},"url":{"type":"string","description":"LBRY URL","example":"what","maxLength":512}},"example":{"bfc":268663686,"bfd":2114200307,"car":"eu","cdv":"web","cid":"b026324c6904b2a9cb4b88d6d61c81d1","crt":1143315912,"dur":958199,"fmt":"hls","pid":"player16","por":1017,"pos":1364094906,"url":"what"},"required":["url","pos","por","dur","bfc","bfd","fmt","pid","cid","cdv"]}}}}