{"openapi":"3.0.3","info":{"title":"Watchman service","description":"Watchman collects media playback reports.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback reports, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":"1.0"},"servers":[{"url":"https://watchman.na-backend.odysee.com/","description":"watchman hosts the Watchman service"},{"url":"https://watchman.na-backend.dev.odysee.com","description":"watchman hosts the Watchman service"}],"paths":{"/healthz":{"get":{"tags":["reporter"],"summary":"healthz reporter","operationId":"reporter#healthz","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"string","example":"OK"},"example":"OK"}}}}}},"/reports/playback":{"post":{"tags":["reporter"],"summary":"add reporter","operationId":"reporter#add","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRequestBody"},"example":{"bandwidth":64944106,"bitrate":13952061,"cache":"miss","device":"ios","duration":30000,"player":"sg-p2","position":1045058586,"protocol":"lvs","rebuf_count":2095695930,"rebuf_duration":38439,"rel_position":13,"url":"@veritasium#f/driverless-cars-are-already-here#1","user_id":"432521"}}}},"responses":{"201":{"description":"Created response."},"400":{"description":"Bad Request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiFieldError"},"example":{"message":"rebufferung duration cannot be larger than duration"}}}}}}}},"components":{"schemas":{"AddRequestBody":{"type":"object","properties":{"bandwidth":{"type":"integer","description":"Client bandwidth, bit/s","example":1390789543,"format":"int32"},"bitrate":{"type":"integer","description":"Media bitrate, bit/s","example":1028310977,"format":"int32"},"cache":{"type":"string","description":"Cache status of video","example":"local","enum":["local","player","miss"]},"device":{"type":"string","description":"Client device","example":"dsk","enum":["ios","adr","web","dsk","stb"]},"duration":{"type":"integer","description":"Duration of time between event calls in ms (aiming for between 5s and 30s so generally 5000–30000)","example":30000,"minimum":0,"maximum":60000},"player":{"type":"string","description":"Player server name","example":"sg-p2","maxLength":128},"position":{"type":"integer","description":"Current playback report stream position, ms","example":1479834203,"minimum":0},"protocol":{"type":"string","description":"Standard binary stream (`stb`), HLS (`hls`) or live stream (`lvs`)","example":"hls","enum":["stb","hls","lvs"]},"rebuf_count":{"type":"integer","description":"Rebuffering events count during the interval","example":938401497,"minimum":0},"rebuf_duration":{"type":"integer","description":"Sum of total rebuffering events duration in the interval, ms","example":9948,"minimum":0,"maximum":60000},"rel_position":{"type":"integer","description":"Relative stream position, pct, 0—100","example":48,"minimum":0,"maximum":100},"url":{"type":"string","description":"LBRY URL (lbry://... without the protocol part)","example":"@veritasium#f/driverless-cars-are-already-here#1","maxLength":512},"user_id":{"type":"string","description":"User ID","example":"432521","minLength":1,"maxLength":45}},"example":{"bandwidth":896952264,"bitrate":856140610,"cache":"player","device":"web","duration":30000,"player":"sg-p2","position":1517669849,"protocol":"lvs","rebuf_count":1305791291,"rebuf_duration":5764,"rel_position":18,"url":"@veritasium#f/driverless-cars-are-already-here#1","user_id":"432521"},"required":["url","duration","position","rel_position","rebuf_count","rebuf_duration","protocol","player","user_id","device"]},"MultiFieldError":{"type":"object","properties":{"message":{"type":"string","example":"rebufferung duration cannot be larger than duration"}},"example":{"message":"rebufferung duration cannot be larger than duration"},"required":["message"]}}},"tags":[{"name":"reporter","description":"Media playback reports"}]}