{"swagger":"2.0","info":{"title":"Watchman service","description":"Watchman collects media playback reports.\n\t\tPlayback time along with buffering count and duration is collected\n\t\tvia playback reports, which should be sent from the client each n sec\n\t\t(with n being something reasonable between 5 and 30s)\n\t","version":""},"host":"watchman.na-backend.odysee.com","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/healthz":{"get":{"tags":["reporter"],"summary":"healthz reporter","operationId":"reporter#healthz","responses":{"200":{"description":"OK response.","schema":{"type":"string"}}},"schemes":["https"]}},"/openapi.json":{"get":{"tags":["reporter"],"summary":"Download ./gen/http/openapi.json","operationId":"reporter#/openapi.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["https"]}},"/reports/playback":{"post":{"tags":["reporter"],"summary":"add reporter","operationId":"reporter#add","parameters":[{"name":"AddRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/ReporterAddRequestBody","required":["url","position","rel_position","buf_count","buf_duration","format","player","client","device"]}}],"responses":{"201":{"description":"Created response."}},"schemes":["https"]}}},"definitions":{"ReporterAddRequestBody":{"title":"ReporterAddRequestBody","type":"object","properties":{"buf_count":{"type":"integer","description":"Buffering events count","example":77025329,"minimum":0},"buf_duration":{"type":"integer","description":"Buffering events total duration, ms","example":1945487361,"format":"int32"},"client":{"type":"string","description":"Unique client ID","example":"b026324c6904b2a9cb4b88d6d61c81d1","maxLength":64},"client_rate":{"type":"integer","description":"Client download rate, bit/s","example":1337957022,"format":"int32"},"device":{"type":"string","description":"Client device","example":"ios","enum":["ios","adr","web"]},"format":{"type":"string","description":"Video format","example":"hls","enum":["std","hls"]},"player":{"type":"string","description":"Player server name","example":"sg-p2","maxLength":64},"position":{"type":"integer","description":"Current playback report stream position, ms","example":1383905872,"minimum":0},"rel_position":{"type":"integer","description":"Relative stream position, pct, 0—100","example":31,"minimum":0,"maximum":100},"t":{"type":"string","description":"Timestamp","example":"Mon, 06 Feb 1995 21:56:00 UTC","format":"rfc1123"},"url":{"type":"string","description":"LBRY URL","example":"what","maxLength":512}},"example":{"buf_count":110545557,"buf_duration":603924334,"client":"b026324c6904b2a9cb4b88d6d61c81d1","client_rate":1696645470,"device":"ios","format":"std","player":"sg-p2","position":444882615,"rel_position":5,"t":"Tue, 29 Sep 1981 13:24:26 UTC","url":"what"},"required":["url","position","rel_position","buf_count","buf_duration","format","player","client","device"]}}}